{% block matheus_gontijo_system_config_history_view_history %}
<div :class="pagePrefix()">

    <div :id="pagePrefix('grid-buttons')">
        <sw-button variant="context" v-if="isLoadingSpin"><div :id="pagePrefix('grid-buttons-loader')"></div></sw-button>
        <sw-button variant="context">{{ $tc(transPrefix('grid.totalRecords'), 0, { 'total': count}) }}</sw-button>
        <sw-button variant="ghost" @click="refreshGrid()">{{ $tc(transPrefix('grid.buttonRefresh')) }}</sw-button>
        <sw-button variant="ghost" @click="resetGrid()">{{ $tc(transPrefix('grid.buttonReset')) }}</sw-button>
        <div :id="pagePrefix('grid-select-limit')">
            <sw-select-field v-model="selectLimit" :id="pagePrefix('grid-select-limit')">
                <option v-for="limitOption in limitOptions" :key="limitOption" :value="limitOption">
                    {{ limitOption }}
                </option>
            </sw-select-field>
        </div>
    </div>

    {% block matheus_gontijo_system_config_history_view_history %}
    <sw-card
        class="matheus-gontijo-system-config-history-view-history__grid-card"
        position-identifier="matheus-gontijo-system-config-history-view-history"
        :is-loading="isLoading"
        :large="true"
    >
        <table :id="pagePrefix()" cellspacing="0" cellpadding="0">
            <colgroup>
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 28%;">
                <col span="1" style="width: 28%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 4%;">
                <col span="1" style="width: 10%;">
            </colgroup>

            <thead>
                <tr>
                    <th scope="col" @click="changeSortByAndSortDirection('configuration_key')">
                        {{ $tc(transPrefix('grid.columnKey')) }}
                        <span
                            :class="pagePrefix('sort-direction')"
                            v-html="sortDirectionArrow('configuration_key')">
                        </span>
                    </th>
                    <th scope="col" @click="changeSortByAndSortDirection('configuration_value_old')">
                        {{ $tc(transPrefix('grid.columnOldValue')) }}
                        <span
                            :class="pagePrefix('sort-direction')"
                            v-html="sortDirectionArrow('configuration_value_old')">
                        </span>
                    </th>
                    <th scope="col" @click="changeSortByAndSortDirection('configuration_value_new')">
                        {{ $tc(transPrefix('grid.columnNewValue')) }}
                        <span
                            :class="pagePrefix('sort-direction')"
                            v-html="sortDirectionArrow('configuration_value_new')">
                        </span>
                    </th>
                    <th scope="col" @click="changeSortByAndSortDirection('sales_channel_name')">
                        {{ $tc(transPrefix('grid.columnSalesChannelName')) }}
                        <span
                            :class="pagePrefix('sort-direction')"
                            v-html="sortDirectionArrow('sales_channel_name')">
                        </span>
                    </th>
                    <th scope="col" @click="changeSortByAndSortDirection('username')">
                        {{ $tc(transPrefix('grid.columnUsername')) }}
                        <span
                            :class="pagePrefix('sort-direction')"
                            v-html="sortDirectionArrow('username')">
                        </span>
                    </th>
                    <th scope="col" @click="changeSortByAndSortDirection('created_at')">
                        {{ $tc(transPrefix('grid.columnCreatedAt')) }}
                        <span
                            :class="pagePrefix('sort-direction')"
                            v-html="sortDirectionArrow('created_at')">
                        </span>
                    </th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">
                        <input type="text" :class="pagePrefix('filter-input')" v-model="filterConfigurationKey" />
                    </th>
                    <th scope="col">
                        <input type="text" :class="pagePrefix('filter-input')" v-model="filterConfigurationValueOld" />
                    </th>
                    <th scope="col">
                        <input type="text" :class="pagePrefix('filter-input')" v-model="filterConfigurationValueNew" />
                    </th>
                    <th scope="col">
                        <input type="text" :class="pagePrefix('filter-input')" v-model="filterSalesChannelName" />
                    </th>
                    <th scope="col">
                        <input type="text" :class="pagePrefix('filter-input')" v-model="filterUsername" />
                    </th>
                    <th scope="col">
                        <input type="text" :class="pagePrefix('filter-input')" v-model="filterCreatedAt" />
                    </th>
                </tr>
            </thead>

            <tbody v-if="rows.length > 0">
                <tr v-for="row in rows" @click="openInformationModal(row.id)">
                    <td :class="pagePrefix('td')">
                        <span
                            :class="pagePrefix('configuration-key')"
                            v-html="formatConfigurationKey(row.configuration_key)"
                        >
                        </span>
                    </td>
                    <td :class="pagePrefix('td')">
                        <span :class="pagePrefix('configuration-value-old')">
                            <span v-if="row.configuration_value_old == null">
                                <span :class="pagePrefix('null-value') + ' ' + pagePrefix('td-null-value')">null</span>
                            </span>
                            <span v-else>
                                {{ row.configuration_value_old }}
                            </span>
                        </span>
                    </td>
                    <td :class="pagePrefix('td')">
                        <span :class="pagePrefix('configuration-value-new')">
                            <span v-if="row.configuration_value_new == null">
                                <span :class="pagePrefix('null-value') + ' ' + pagePrefix('td-null-value')">null</span>
                            </span>
                            <span v-else>
                                {{ row.configuration_value_new }}
                            </span>
                        </span>
                    </td>
                    <td :class="pagePrefix('td')">
                        <span :class="pagePrefix('sales-channel-name')">{{ row.sales_channel_name }}</span>
                    </td>
                    <td :class="pagePrefix('td')">{{ row.username }}</td>
                    <td :class="pagePrefix('td') + ' ' + pagePrefix('grid-column-created-at')">{{ row.created_at }}</td>
                </tr>
            </tbody>
        </table>

        <span :id="pagePrefix('no-results')" v-if="rows.length === 0">
            {{ $tc(transPrefix('grid.noResultsWereFound')) }}
        </span>

        <div :id="pagePrefix('pagination')" v-if="hasPagination">
            <span
                v-for="paginationItem in getPaginationItems"
                @click="changePage(paginationItem.page)"
                :class="getPaginationItemClass(paginationItem)">
                {{ paginationItem.page }}
            </span>
        </div>
    </sw-card>
    {% endblock %}

    <sw-modal variant="none" v-if="showInformationModal" @modal-close="closeInformationModal">
        <table v-if="showInformationModalData" cellspacing="0" cellpadding="0" :class="pagePrefix('information-modal-table')">
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 75%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <tbody>
                <tr>
                    <td :class="pagePrefix('information-modal-table-td-key')">
                        {{ $tc(transPrefix('informationModal.configurationKey')) }}
                    </td>
                    <td :class="pagePrefix('information-modal-monospace')">
                        {{ informationModalData.configuration_key }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td :class="pagePrefix('information-modal-table-td-key')">
                        {{ $tc(transPrefix('informationModal.configurationValueOld')) }}
                    </td>
                    <td :class="pagePrefix('information-modal-monospace')">
                        <span v-if="informationModalData.configuration_value_old == null">
                            <span :class="pagePrefix('null-value') + ' ' + pagePrefix('td-null-value')">null</span>
                        </span>
                        <span v-else>
                            {{ informationModalData.configuration_value_old }}
                        </span>
                    </td>
                    <td><em>{{ informationModalData.configuration_value_old_type }}</em></td>
                </tr>
                <tr>
                    <td :class="pagePrefix('information-modal-table-td-key')">
                        {{ $tc(transPrefix('informationModal.configurationValueNew')) }}
                    </td>
                    <td :class="pagePrefix('information-modal-monospace')">
                        <span v-if="informationModalData.configuration_value_new == null">
                            <span :class="pagePrefix('null-value') + ' ' + pagePrefix('td-null-value')">null</span>
                        </span>
                        <span v-else>
                            {{ informationModalData.configuration_value_new }}
                        </span>
                    </td>
                    <td><em>{{ informationModalData.configuration_value_new_type }}</em></td>
                </tr>
                <tr>
                    <td :class="pagePrefix('information-modal-table-td-key')">
                        {{ $tc(transPrefix('informationModal.salesChannelName')) }}
                    </td>
                    <td>{{ informationModalData.sales_channel_name }}</td>
                    <td></td>
                </tr>
                <tr v-if="informationModalData.username">
                    <td :class="pagePrefix('information-modal-table-td-key')">
                        {{ $tc(transPrefix('informationModal.username')) }}
                    </td>
                    <td>{{ informationModalData.username }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td :class="pagePrefix('information-modal-table-td-key')">
                        {{ $tc(transPrefix('informationModal.modifiedAt')) }}
                    </td>
                    <td>{{ informationModalData.modified_at }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div :class="pagePrefix('modal-revert-button-wrapper')">
            <sw-button
                variant="primary"
                @click="openWarningModal('configuration_value_old')"
                :class="pagePrefix('modal-revert-button')"
            >
                {{ $tc(transPrefix('informationModal.revertOldValueButton')) }}
            </sw-button>

            <sw-button
                variant="primary"
                @click="openWarningModal('configuration_value_new')"
                :class="pagePrefix('modal-revert-button')"
            >
                {{ $tc(transPrefix('informationModal.revertNewValueButton')) }}
            </sw-button>
        </div>
    </sw-modal>

    <sw-modal variant="none" v-if="showWarningModal" @modal-close="closeWarningModal">
        <strong>{{ $tc(transPrefix('warningModal.message')) }}</strong>

        <div :id="pagePrefix('warning-modal-revert-value')">
            {{ warningModalRevertValue }}
        </div>

        <div :class="pagePrefix('modal-revert-button-wrapper')">
            <sw-button variant="primary" @click="revertConfigurationValue()" :class="pagePrefix('modal-revert-button')">
                {{ $tc(transPrefix('warningModal.yesButton')) }}
            </sw-button>

            <sw-button variant="context" @click="closeWarningModal()">
                {{ $tc(transPrefix('warningModal.noButton')) }}
            </sw-button>
        </div>
    </sw-modal>
</div>
{% endblock %}
